<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="http//localhost:8000/message/" method="POST"> {% csrf_token %}





       {% for  i  in msg %}

      <li class="list-group-item"><strong>Sender_Username--</strong>  &nbsp;&nbsp; {{i.sender_username}}</li>
    <li class="list-group-item">Content--  &nbsp;{{i.content}}&nbsp;</li>

<br><br>

{% endfor %}

  <input type="text" style="width:100%"; "border-color:#92a8d; name="msg">
    <input type="submit" value="send">
         <input type="submit" value="Submit">

</form>

</body>
</html>