<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Project Details</h1>
<div class = "container">
  <div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 30rem;">
<ul class="list-group list-group-flush">
<li class="list-group-item">


        {%  for  i in row %}

      <li class="list-group-item"><strong>Project ID -</strong>  &nbsp;&nbsp; {{i.Pid}}</li>
      <li class="list-group-item"><strong>Project Name-</strong>  &nbsp;&nbsp;{{i.Pname }}</li>
      <li class="list-group-item"><strong>Client Name-</strong>   &nbsp;&nbsp;{{i.Cname }}</li>
      <li class="list-group-item"><strong>Client Details-</strong> &nbsp;&nbsp;{{i.Cdetails }}</li>
      <li class="list-group-item"><strong>Project Description-</strong> &nbsp;&nbsp; {{i.Pdescription }}</li>
      <li class="list-group-item"><strong>Project Deadline-</strong> &nbsp;&nbsp;{{i.Pdeadline }}</li>
      <li class="list-group-item"><strong>Project Start date- </strong>&nbsp;&nbsp;{{i.Pstartdate }}</li>
      <li class="list-group-item"><strong>Project Managed by- </strong>&nbsp;&nbsp;{{i.Pmanagedby }}</li>
      <li class="list-group-item"><strong>Project Contract- </strong>&nbsp;&nbsp;{{i.Pcontract }}</li>
{% endfor %}
</ul>
<div class="row">
    <div class="col-md-6">


<div class="card" style="width: 30rem;">
  <ul class="list-group list-group-flush">

       <li class="list-group-item">
      <h1 class="display-6">Task Details</h1>
         </li>

    <li class="list-group-item"><a href="http://localhost:8000/addtask/" class="btn btn-primary">Add Task</a></li>
      {% for  k in  tasks %}
     <li class="list-group-item"><strong>Task title-</strong>{{k.Ttitle}}  </li>
      <li class="list-group-item"><strong>Task Assigned To-</strong> {{k.Tassignedto}} </li>
       <li class="list-group-item"><strong>Deadline-</strong> {{k.Tdeadline}} </li>
        <li class="list-group-item"> </li>

{% endfor %}

</body>
</html>